/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/


params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    sample_sheet       = "${projectDir}/assets/samplesheet.csv"
    segmentation_sheet = "${projectDir}/assets/segmentation.csv"
    gene_identifier    = "gene_name"
    min_cells          = 3
    min_features       = 200

    nfeature_lower = 10
    nfeature_upper = 0
    ncount_lower   = 10
    ncount_upper   = 0
    max_mito_pct   = 10

    vars_2_regress     = "nCount_RNA,nFeature_RNA,percent.mt,S.Score,G2M.Score"
    features_2_scale   = "VF"
    scale_method       = "SCT"
    pcMax              = null
    integration_method = "Harmony"
    resolutions        = "0.05,0.1,0.3,0.5,0.7,0.9,1.2,1.5"
    makeLoupe          = true
    eula_agreement     = "Agree"

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '10.GB'
    max_time   = '6.h'

}
