/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'DISPLAY_REDUCTION' {
        publishDir = [
            path: { "${params.outdir}/Group_Analysis/${meta}/Dimensional_Reduction" },
            mode: params.publish_dir_mode
        ]
        ext.args   = params.integration_method
    }

    withName: 'FIND_NN_CLUSTER' {
        publishDir = [
            path: { "${params.outdir}/Group_Analysis/${meta.group}/Nearest_Neighbor-Clusters" },
            mode: params.publish_dir_mode
        ]
        ext.args2 = params.scale_method
    }

    withName: 'INTEGRATION' {
        publishDir = [
            path: { "${params.outdir}/Group_Analysis/${meta}/Integration" },
            mode: params.publish_dir_mode
        ]
        ext.args2 = params.scale_method
    }

    withName: 'RUN_PCA' {
        publishDir = [
            path: { "${params.outdir}/Group_Analysis/${meta}/PCA" },
            mode: params.publish_dir_mode
        ]
        ext.args   = params.pcMax
    }

    withName: 'MERGE_SO' {
        publishDir = [
            path: { "${params.outdir}/Group_Analysis/${meta}/Merge" },
            mode: params.publish_dir_mode
        ]
        ext.args2 = params.features_2_scale
        ext.args3 = params.scale_method
    }

    withName: 'FIND_DOUBLETS' {
        publishDir = [
            path: { "${params.outdir}/Sample_Processing/${meta.id}/Doublet_Detection" },
            mode: params.publish_dir_mode
        ]
        ext.args2 = params.features_2_scale
        ext.args3 = params.scale_method
    }

    withName: 'NORMALIZE_QC' {
        publishDir = [
            path: { "${params.outdir}/Sample_Processing/${meta.id}/Normalize_QC" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MAKE_SEURAT' {
        publishDir = [
            path: { "${params.outdir}/Sample_Processing/${meta.id}/Inital_SO" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
