includeConfig "../modules/local/makeseurat/nextflow.config"
includeConfig "../modules/local/normalize_qc/nextflow.config"
includeConfig "../modules/local/doubletfinder/nextflow.config"
includeConfig "../modules/local/merge/nextflow.config"
includeConfig "../modules/local/runpca/nextflow.config"
includeConfig "../modules/local/integration/nextflow.config"
includeConfig "../modules/local/find_NN_clusters/nextflow.config"
includeConfig "../modules/local/plotting/nextflow.config"
